alembic==1.13.1
annotated-types==0.6.0
anyio==4.3.0
astor==0.8.1
asyncpg==0.29.0
attrs==23.2.0
bandit==1.7.8
black==24.3.0
bleach==6.1.0
certifi==2024.2.2
click==8.1.7
darglint==1.8.1
docutils==0.20.1
eradicate==2.3.0
fastapi==0.110.1
flake8==7.0.0
flake8-bandit==4.1.1
flake8-broken-line==1.0.0
flake8-bugbear==24.2.6
flake8-commas==2.1.0
flake8-comprehensions==3.14.0
flake8-debugger==4.1.2
flake8-docstrings==1.7.0
flake8-eradicate==1.5.0
flake8-isort==6.1.1
flake8-quotes==3.4.0
flake8-rst-docstrings==0.3.0
flake8-string-format==0.3.0
frozenlist==1.4.1
greenlet==3.0.3
h11==0.14.0
httptools==0.6.1
idna==3.6
iniconfig==2.0.0
isort==5.13.2
Mako==1.3.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
multidict==6.0.5
mypy==1.10.0
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
pbr==6.0.0
pep8-naming==0.13.3
pillow==10.3.0
platformdirs==4.2.0
pluggy==1.5.0
pycodestyle==2.11.1
pydantic==2.6.4
pydantic_core==2.16.3
pydocstyle==6.3.0
pyflakes==3.2.0
Pygments==2.17.2
python-dotenv==1.0.1
python-multipart==0.0.9
PyYAML==6.0.1
restructuredtext_lint==1.4.0
rich==13.7.1
setuptools==69.2.0
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
SQLAlchemy==2.0.29
sqlalchemy-stubs==0.4
starlette==0.37.2
stevedore==5.2.0
types-aiofiles==23.2.0.20240403
types-bleach==6.1.0.20240331
types-docutils==0.21.0.20240423
types-html5lib==1.1.11.20240228
typing_extensions==4.11.0
uvicorn==0.29.0
uvloop==0.19.0
watchfiles==0.21.0
webencodings==0.5.1
websockets==12.0
wemake-python-styleguide==0.19.2
wheel==0.43.0
yarl==1.9.4
